.hr {
  bottom: 250px;
  left: 248px !important;
  outline: 1px solid transparent;
  width: 7px;
  height: 120px;
  position: absolute;
  left: 162px;
  background: black;
  transform-origin: 50% 110px;
  transform: rotate(270deg);
  z-index: 1;
}