.min{
  bottom: 250px;
  left: 250px !important;
  outline: 1px solid transparent;
  width: 4px;
  height: 180px;
  position: absolute;
  left: 163.5px;
  background: black;
  transform-origin: 50% 175px;
  transform: rotate(20deg);
  z-index: 2;
}