.clockface {
  background: url('./img/images.jpeg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  border: 10px double rgb(0, 0, 0);
  h2{
    color: rgba(0, 0, 0, 0.233);
    text-shadow: 1px 2px 2px black;
    text-align: center;
    top: 350px;
    position: relative;
  }
}
.gettime{
  cursor: pointer;
  width: 200px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.637);
  border: none;
  line-height: 45px;
  height: 50px;
  color: white;
  background: rgb(3, 3, 75);
  display: flex;
  justify-content: center;
  margin: 50px auto;
}